div.narrow {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  > * {
    display: flex;
    max-width: 600px;
    line-height: 150%;
  }

  div.ace {
    display: flex;
    width: 100vw;
    height: 50vh;
    margin-top: 25px;
    margin-bottom: 40px;
  }

  div.landing-text {
    display: flex;
    width: 100%;
    margin-bottom: 10px;
  }
}
