<h1 class="title">{{ 'NAV.COMMANDS' | translate }}</h1>

<div class="flex-container">
  <div class="command-nav">
    <div class="search-bar">
      <div class="search-icon"><i class="fa fa-search" aria-hidden="true"></i></div>
      <input [(ngModel)]="searchTerm" class="search-input" placeholder="{{ 'SEARCH.PLACEHOLDER' | translate }}"
        (input)="updateSearch()" />
    </div>

    <table class="categories">
      <tbody>
        <ng-container *ngIf="loadedCategories && activeCat === '' && activeSubCat === ''">
          <tr *ngFor="let cat of objectKeys(categories)">
            <td>{{ cat }}</td>
          </tr>
        </ng-container>
        <ng-container *ngIf="loadedCategories && activeCat !== '' && activeSubCat === ''">
          <tr *ngFor="let subCat of objectKeys(categories[activeCat])">
            <td>{{ subCat }}</td>
          </tr>
        </ng-container>
        <ng-container *ngIf="loadedCategories && activeCat !== '' && activeSubCat !== ''">
          <tr *ngFor="let cmd of objectKeys(categories[activeCat][activeSubCat])">
            <td class="name">{{ categories[activeCat][activeSubCat][cmd].name }}</td>
            <td class="description">{{ firstSentence(categories[activeCat][activeSubCat][cmd].description.de) }}</td> <!-- TODO: fit language -->
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>

  <blitz-basic-script-canvas [code]="testCode"></blitz-basic-script-canvas>

</div>
