@import '../../variables';

$table-max-width: 500px;

.subtitle {
  margin-bottom: 30px;
}

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
  width: 100%;

  .command-nav {
    width: 100%;
    max-width: 600px;

    .search-bar {
      // z-index        : -1 !important;
      display: flex;
      justify-content: center;

      // width           : calc(100vw - 200px);
      height: 30px;
      border-radius: 25px;
      margin-left: 100px;
      margin-right: 100px;
      margin-bottom: 50px;

      background: $light;

      .search-icon {
        width: 20px;
        height: 100%;
        padding: 4px 10px 0 10px;
        color: $primary;
      }

      .search-input {
        width: 200px; // calc(100% - 50px);
        background: transparent;
        color: $dark;
        outline: none !important;
      }
    }

    .breadcrumbs {
      width: calc(100% - 100px);
      max-width: $table-max-width;
      box-sizing: border-box;
      background: $primary;
      font-size: 18px;
      border-radius: 25px;
      padding: 10px 25px;
      color: $light;
      font-variant: small-caps;
      margin-bottom: 20px;

      span {
        cursor: pointer;
      }
    }

    table {
      width: calc(100% - 100px);
      max-width: $table-max-width;

      tbody {
        tr {
          cursor: pointer;

          td {
            &.name {
              font-family: 'Anonymous Pro', monospace;
            }

            &.description {
              font-size: 10px;
            }
          }
        }
      }
    }
  }

  div.code-section {
    width: 100%;
    height: calc(100vh - $table-max-width);

    h3 {
      font-size: 28px;
      text-align: center;
      font-family: 'Anonymous Pro Bold', monospace;
    }

    .description {
      background: $black;
      padding: 20px;
      line-height: 150%;
    }

    button {
      margin-bottom: 10px;
    }

    div.ace {
      width: 100%;
      height: calc(100vh - 250px);
    }

    blitz-basic-script-canvas {
      display: flex;

      width: $table-max-width;
      height: 200px !important;
    }
  }
}
