@import '../../variables';

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;

  .command-nav {
    .search-bar {
    // z-index        : -1 !important;
    display        : flex;
    justify-content: center;

    // width           : calc(100vw - 200px);
    height          : 30px;
    border-radius: 25px;
    margin-left     : 100px;
    margin-right    : 100px;
    margin-bottom   : 50px;

    background: $light;

    .search-icon {
      width  : 20px;
      height : 100%;
      padding: 4px 10px 0 10px;
      color  : $primary;
    }

    .search-input {
      width     : 200px; // calc(100% - 50px);
      background: transparent;
      color     : $dark;
      outline   : none !important;
    }
  }

  table {
    tbody {
      tr {
        cursor: pointer;

        td {
          &.name {
            font-family: monospace;
          }

          &.description {
            font-size: 10px;
          }
        }
      }
    }
  }
}

  blitz-basic-script-canvas {
    display: flex;

    width: 300px;
    height: 200px !important;
  }
}
