<div class="modal" [ngClass]="{ 'is-active': settingsOpen }">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Modal title</p>
      <button class="delete" aria-label="close"></button>
    </header>
    <section class="modal-card-body">
      <!-- Content ... -->
      Here comes the content
    </section>
    <footer class="modal-card-foot">
      <button class="button is-success">Save changes</button>
      <button class="button">Cancel</button>
    </footer>
  </div>
</div>

<div class="columns">
  <div class="column is-1" *ngIf="!showFiles">
    to do
  </div>

  <div class="column is-3" *ngIf="showFiles">
    <div class="is-primary">
      <p class="field">
        <a class="button">
          <span class="icon is-small">
            <i class="fa fa-plus-square-o"></i>
          </span>
        </a>
        <a class="button">
          <span class="icon is-small">
            <i class="fa fa-folder-open-o"></i>
          </span>
        </a>
        <a class="button">
          <span class="icon is-small">
            <i class="fa fa-save"></i>
          </span>
        </a>
        <a class="button" (click)="toggleFiles()">
          <span class="icon is-small">
            <i class="fa fa-caret-square-o-left"></i>
          </span>
        </a>
      </p>
    </div>

    <nav class="panel">
      <p class="panel-heading">{{ projectName }}</p>
      <div class="panel-block">
        <p class="control has-icons-left">
          <input
            [(ngModel)]="searchTerm"
            (change)="search()"
            class="input is-small"
            type="text"
            placeholder="{{ 'SEARCH.PLACEHOLDER' | translate }}"
          />
          <span class="icon is-small is-left">
            <i class="fa fa-search"></i>
          </span>
        </p>
      </div>
      <a class="panel-block" *ngFor="let fileOrFolder of filesAndFolders">
        <span class="panel-icon">
          <i [class]="'fa fa-' + icons[fileOrFolder.type]"></i>
        </span>
        {{ fileOrFolder.name }}
      </a>
    </nav>
  </div>

  <div class="column" [ngClass]="{ 'is-9': showFiles, 'is-11': !showFiles }">
    <div class="is-primary">
      <p class="field">
        <a class="button" (click)="play()">
          <span class="icon is-small">
            <i class="fa fa-play-circle"></i>
          </span>
        </a>
        <a class="button" (click)="debug()">
          <span class="icon is-small">
            <i class="fa fa-bug"></i>
          </span>
        </a>
        <a class="button" (click)="undo()">
          <span class="icon is-small">
            <i class="fa fa-undo"></i>
          </span>
        </a>
        <a class="button" (click)="redo()">
          <span class="icon is-small">
            <i class="fa fa-repeat"></i>
          </span>
        </a>
        <a class="button" (click)="guide()">
          <span class="icon is-small">
            <i class="fa fa-medkit"></i>
          </span>
        </a>
        <a class="button" (click)="codeCleanUp()">
          <span class="icon is-small">
            <i class="fa fa-magic"></i>
          </span>
        </a>
        <a class="button" (click)="toggleSettings()">
          <span class="icon is-small">
            <i class="fa fa-cog"></i>
          </span>
        </a>
      </p>
    </div>

    <div class="box editor">
      Lorem Ipsum
    </div>
  </div>
</div>
