<div class="columns">
  <div class="column is-3">
    <div class="is-primary">
      <p class="field">
        <a class="button">
          <span class="icon is-small">
            <i class="fa fa-plus-square-o"></i>
          </span>
        </a>
        <a class="button">
          <span class="icon is-small">
            <i class="fa fa-folder-open-o"></i>
          </span>
        </a>
        <a class="button">
          <span class="icon is-small">
            <i class="fa fa-save"></i>
          </span>
        </a>
        <a class="button">
          <span class="icon is-small">
            <i class="fa fa-caret-square-o-left"></i>
          </span>
        </a>
      </p>
    </div>

    <nav class="panel">
      <p class="panel-heading">{{ projectName }}</p>
      <div class="panel-block">
        <p class="control has-icons-left">
          <input class="input is-small" type="text" placeholder="{{ 'SEARCH.PLACEHOLDER' | translate }}" />
          <span class="icon is-small is-left">
            <i class="fa fa-search"></i>
          </span>
        </p>
      </div>
      <p class="panel-tabs">
        <a class="is-active">All</a>
        <a>Public</a>
        <a>Private</a>
        <a>Sources</a>
        <a>Forks</a>
      </p>
      <a class="panel-block is-active">
        <span class="panel-icon"> <i class="fa fa-book"></i> </span> bulma
      </a>
      <a class="panel-block">
        <span class="panel-icon"> <i class="fa fa-book"></i> </span> marksheet
      </a>
      <a class="panel-block">
        <span class="panel-icon"> <i class="fa fa-book"></i> </span> minireset.css
      </a>
      <a class="panel-block">
        <span class="panel-icon"> <i class="fa fa-book"></i> </span> jgthms.github.io
      </a>
      <a class="panel-block">
        <span class="panel-icon"> <i class="fa fa-code-branch"></i> </span> daniellowtw/infBoard
      </a>
      <a class="panel-block">
        <span class="panel-icon"> <i class="fa fa-code-branch"></i> </span> mojs
      </a>
      <label class="panel-block"> <input type="checkbox" /> Remember me </label>
      <div class="panel-block">
        <button class="button is-primary is-outlined is-fullwidth">Reset all filters</button>
      </div>
    </nav>
  </div>

  <div class="column is-9">
    <div class="is-primary">
      <p class="field">
        <a class="button">
          <span class="icon is-small">
            <i class="fa fa-play-circle"></i>
          </span>
        </a>
        <a class="button">
          <span class="icon is-small">
            <i class="fa fa-bug"></i>
          </span>
        </a>
        <a class="button">
          <span class="icon is-small">
            <i class="fa fa-undo"></i>
          </span>
        </a>
        <a class="button">
          <span class="icon is-small">
            <i class="fa fa-repeat"></i>
          </span>
        </a>
        <a class="button">
          <span class="icon is-small">
            <i class="fa fa-medkit"></i>
          </span>
        </a>
        <a class="button">
          <span class="icon is-small">
            <i class="fa fa-magic"></i>
          </span>
        </a>
        <a class="button">
          <span class="icon is-small">
            <i class="fa fa-cog"></i>
          </span>
        </a>
      </p>
    </div>

    <div class="box editor">
      Lorem Ipsum
    </div>
  </div>
</div>
