<h1 class="title is-1">{{ 'FOOTER.TERMS.LABEL' | translate }}</h1>

<h2 class="title is-2">
  für den Webauftritt BlitzBasicScript
</h2>
<h3 class="title is-3">§ 1 Geltungsbereich</h3>
<p>
  (1)&nbsp;Die nachfolgenden Bedingungen gelten für die Nutzung des
  Webauftrittes von BlitzBasicScript (<a
    href="https://www.blitzbasicscript.com"
    target="_blank"
    >https://www.blitzbasicscript.com</a
  >) - im folgenden "unsere Website" genannt.&nbsp;Für die Nutzung des
  Webauftrittes ist wichtig, dass du als Nutzer*in die nachfolgenden Regeln bzw.
  Bedingungen akzeptierst. Die Registrierung und Benutzung unseres Webauftrittes
  ist kostenlos.
</p>
<p>
  (2)&nbsp;Mit der Registrierung bist du mit den Nutzungsbedingungen unserer
  Website einverstanden. Durch dein Einverständnis garantierst du uns, dass du
  keine Beiträge erstellen wirst, die gegen die Nutzungsbedingung verstoßen.
</p>
<p>
  (3)&nbsp;Durch das Benutzen unserer Website kommt kein Vertrag zwischen den
  Nutzer*innen und uns zustande.
</p>

<h3 class="title is-3">§ 2 Pflichten als Website-Nutzer*innen</h3>

<p>
  (1)&nbsp;Eine deiner Pflichten als Nutzer*in ist es, dass du keine Beiträge
  veröffentlichst, die gegen diese Regeln, gegen die guten Sitten oder sonst
  gegen geltendes deutsches Recht verstoßen.
</p>
<p>
  <b>Folgende Punkte sind dir nicht genehmigt:</b>
</p>
<ol>
  <li>
    Inhalte zu veröffentlichen, die unwahr sind und deren Veröffentlichung einen
    Straftatbestand oder eine Ordnungswidrigkeit erfüllt,
  </li>
  <li>
    Versendung von Spam über die Website an andere Forum-Nutzer*innen,
  </li>
  <li>
    Verwendung von gesetzlich durch Urheber- und Markenrecht geschützte Inhalte
    ohne rechtmäßige Berechtigung (z.B. Pressemitteilungen etc.),
  </li>
  <li>Handlungen, die wettbewerbswidrig sind,</li>
  <li>
    eigene Werbung, folglich Schleichwerbung, zu betreiben und
  </li>
  <li>
    Inhalte zu veröffentlichen, die beleidigend, rassistisch bzw.
    diskriminierend sind gegenüber anderen Nutzer*innen oder der Allgemeinheit,
    oder pornographische Elemente aufweisen.
  </li>
</ol>
<p>
  Deine Pflicht als Website-Nutzer*in ist es, auf
  §&nbsp;2&nbsp;Abs.&nbsp;1&nbsp;Nr.&nbsp;1-7 dieser Nutzungsbedingungen, vor
  der Veröffentlichung deiner Projekte bzw. Beiträge im Forum zu achten und zu
  überprüfen, ob du dich an diese Punkte gehalten hast.
</p>
<p>
  (2)&nbsp;&nbsp;&nbsp;Solltest du gegen
  §&nbsp;2&nbsp;Abs.&nbsp;1&nbsp;Nr.&nbsp;1-7 dieser Nutzungsbedingung
  verstoßen, behalten wir uns das Recht vor, gegen dich folgende Schritte
  vorzunehmen:
</p>
<ol>
  <li>
    Deine eingestellten Projekte bzw. Beiträge zu löschen oder diese abzuändern,
  </li>
  <li>
    Dir ein Verbot erteilen, weiterhin auf der Website Projekte bzw. Beiträge zu
    verfassen und
  </li>
  <li>Sperrung des Zugangs als Nutzer*in.</li>
</ol>
<p>
  (3)&nbsp;Hast du als Website-Nutzer*in nicht die Regeln beachtet und sind
  hierdurch mögliche Rechtsverstöße entstanden, die durch deine eingestellten
  Inhalte in unserem Forum entstanden sind (Pflichtverletzung), verpflichtest du
  dich als Nutzer*in, uns von jeglichen Ansprüchen, auch den
  Schadenersatzansprüchen, freizustellen und diesen die Kosten zu ersetzen.
</p>
<p>
  Zudem ist der / die Nutzer*in verpflichtet, uns bei Schadenersatzansprüchen
  hinsichtlich der Abwehr des durch ihn / sie entstandenen Rechtsverstoßes
  (Pflichtverletzung s.o.), zu unterstützen und die Kosten einer angemessenen
  Rechtsverteidigung für uns zu tragen.
</p>
<p>
  (4)&nbsp;Durch dein Einverständnis garantierst du uns, dass du keine Projekte
  bzw. Beiträge erstellen wirst, die gegen die Nutzungsbedingung verstoßen.
  Entsprechendes gilt auch für das Setzen von externen Links und die Signaturen.
</p>

<h3 class="title is-3">§ 3 Übertragung von Nutzungsrechten</h3>

<p>
  Du als Website-Nutzer*in hast die alleinige Verantwortung des Urheberrechts im
  Sinne des Urhebergesetzes bei Veröffentlichung von Projekten bzw. Beiträgen zu
  beachten. <sup>2</sup>Als Nutzer*in räumst du uns lediglich mit
  Veröffentlichung deines Beitrages auf deren Homepage das Recht ein, das
  Projekt bzw. den Beitrag dauerhaft zum Abruf bereitzustellen.
  <sup>3</sup>Ferner hat unser Team das Recht, deine Projekte und Beiträge zu
  löschen, zu bearbeiten und innerhalb der Website zu verschieben, um diese mit
  anderen Inhalten zu verknüpfen oder zu schließen.
</p>

<h3 class="title is-3">§ 4 Haftungsbeschränkung</h3>

<p>
  (1)&nbsp;Wir übernehmen keinerlei Gewähr für die auf der Website
  veröffentlichten und eingestellten Projekte, Beiträge, externen Links und die
  daraus resultierenden Inhalte, insbesondere nicht für deren Richtigkeit,
  Vollständigkeit und Aktualität. Wir sind auch nicht verpflichtet, permanent
  die übermittelten und gespeicherten Beiträge der Nutzer*innen zu überwachen
  oder nach den Umständen zu erforschen, ob sie auf einen rechtswidrigen Inhalt
  hinweisen. Wir haften grundsätzlich nur im Falle einer vorsätzlichen oder grob
  fahrlässigen Pflichtverletzung.
</p>
<p>
  (2)&nbsp;Wir weisen ausdrücklich darauf hin, dass die Projekte und Beiträge
  auf der Website vollkommen unverbindlich sind. <sup>2</sup>Die Nutzung der
  Projekte bzw. Beiträge und deren Verwertung erfolgt auf deine eigene Gefahr.
</p>
<p>
  (3)&nbsp;Es wird nicht für einen ständigen unterbrechungsfreien Abruf der
  Website garantiert. <sup>2</sup>Einer Haftung diesbezüglich wird hiermit
  ausdrücklich widersprochen. <sup>3</sup>Auch bei großer Sorgfalt können
  Ausfallzeiten leider nicht ausgeschlossen werden.
</p>

<h3 class="title is-3">§ 5 Urheberrecht</h3>
<p>
  Sämtliche Texte, Bilder und andere auf unserer Website veröffentlichten
  Informationen und Daten unterliegen - sofern nicht anders gekennzeichnet - dem
  Copyright unserer Website. Jede Form von Wiedergabe und/oder Modifikation darf
  nur mit der schriftlichen Genehmigung durch uns erfolgen. Andersfalls behalten
  wir uns das Recht vor, gerichtlich gegen diese Rechtsverletzung vorzugehen.
  <sup>4</sup>Alle Kosten, die durch eine Rechtsverletzung seitens eines / einer
  Benutzer*in verursacht werden, werden diesem / dieser in Rechnung gestellt.
</p>

<h3 class="title is-3">§ 6 Änderungsvorbehalt</h3>
<p>
  Wir haben jederzeit das Recht die Nutzungsbedingungen zu ändern. Die Änderung
  wird dann per Newsbeitrag auf der Website veröffentlicht.
</p>

<h3 class="title is-3">
  § 7 Kündigung und Laufzeit der Mitgliedschaft bei unserer Website
</h3>
<p>
  <sup>1</sup>Die Laufzeit der Mitgliedschaft beginnt mit der Registrierung und
  mit dem Einverständnis unseren Nutzungsbedingungen und besteht auf unbestimmte
  Zeit. Die Mitgliedschaft kann jederzeit ohne Angabe von Gründen fristlos
  gekündigt werden. <sup>2</sup>Es gelten die Regeln der
  <abbr title="Datenschutz-Grundverordnung">DSVGO</abbr> der
  <abbr title="Europäische Union">EU</abbr>.
</p>

<h3 class="title is-3">§ 8 Salvatorische Klausel</h3>
<p>
  Diese Nutzungsbedingungen sind als Teil unserer Website zu betrachten, von dem
  aus auf diese Seite verwiesen wird. Sind einzelne Formulierungen dieser
  Nutzungsbedingungen nicht ganz oder nicht vollständig konform mit der
  geltenden Rechtslage, so ist davon auszugehen, dass die übrigen Regelungen der
  Nutzungsbedingungen bestehen bleiben.
</p>

<p>
  <a href="http://www.jurarat.de/muster-nutzungsbedingungen" target="_blank">
    Diese Nutzungsbedingungen wurden freundlicherweise von www.jurarat.de zur
    Verfügung gestellt.</a
  >
</p>
